# Ignore everything by default
*

# Allow root files
!Makefile
!README.md
!HD027778.png

# Allow full folder contents
!Data/**
!IDL/**
!Qfile/**
!scripts/**
!example/**

# Allow only specific files in src/
!src/
!src/*.f90

# Include models/ folder, but ignore its contents
!models/
models/*
!models/.gitkeep

# Ignore build outputs and intermediate files
af90.j
*.o
*.mod

# Optional: ignore logs or editor backups
# *.log
# *~